
.container-order-list {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-self: center;
    gap: 10px;
    flex-wrap: wrap;
    border: 1px solid #00000018;
    justify-content: space-between;
}

.container-order {
    display: flex;
    flex-direction: column;
    border: 1px solid #00000018;
    padding: 10px;
}

.card-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #5c2626;
    color: white;
}